 // 语言
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

 // 常量
#define  IDD_HANDSHAKE   101
#define  IDI_HANDSHAKE   102
#define  IDC_REQUEST     1000
#define  IDC_RESULT      1001
#define  IDC_SUBMIT      1002

 // 对话框
IDD_HANDSHAKE DIALOG DISCARDABLE  0, 0, 256, 81
  STYLE DS_CENTER | WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU
  CAPTION "Handshake"
  FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX       "Client side", IDC_STATIC, 4, 4, 248, 72
  LTEXT          "&Request:", IDC_STATIC, 12, 18, 30, 8
  EDITTEXT       IDC_REQUEST, 48, 16, 196, 14, ES_AUTOHSCROLL
  DEFPUSHBUTTON  "&Submit Request to Server", IDC_SUBMIT, 80, 36, 96, 14
  LTEXT          "Result:", IDC_STATIC, 12, 58, 23, 8
  EDITTEXT       IDC_RESULT, 48, 56, 196, 16, ES_AUTOHSCROLL | ES_READONLY
END

 // 图标
IDI_HANDSHAKE ICON DISCARDABLE "Handshake.ico"
