 // 常量
#define IDD_QUEUE   1
#define IDI_QUEUE   102
#define IDC_CLIENTS 1000
#define IDC_SERVERS 1001

 // 语言
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

 // 模板
IDD_QUEUE DIALOG DISCARDABLE  38, 36, 298, 225
  STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Queue"
  FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX "&Client threads", IDC_STATIC, 4, 4, 140, 216
  LISTBOX  IDC_CLIENTS, 8, 16, 132, 200, NOT LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
  GROUPBOX "&Server threads", IDC_STATIC, 156, 4, 140, 216
  LISTBOX  IDC_SERVERS, 160, 16, 132, 200, NOT LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

 // 图标
IDI_QUEUE ICON DISCARDABLE "Queue.Ico"