// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Define
#define  IDD_TLSDYN       1
#define  IDC_LOG        100
#define  IDI_TLSDYN     101

// Icon
IDI_TLSDYN  ICON   DISCARDABLE    "TLSDyn.Ico"

// Dialog
IDD_TLSDYN DIALOG DISCARDABLE  25, 21, 147, 180
  STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Dynamic Thread Local Storage"
  FONT 8, "System"
BEGIN
  LTEXT "Execution &log:", IDC_STATIC, 4, 4, 47, 8
  LISTBOX IDC_LOG, 4, 16, 140, 160, NOT LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL
END
