MENUMAIN MENU DISCARDABLE        
BEGIN       
  MENUITEM "MAIN:", 0, INACTIVE   
  MENUITEM "&File...", 40001
  MENUITEM "&Edit...", 40002
END
        
MENUFILE MENU DISCARDABLE        
BEGIN      
  MENUITEM "FILE:", 0, INACTIVE
  MENUITEM "&New", 40003
  MENUITEM "&Open...", 40004
  MENUITEM "&Save", 40005
  MENUITEM "Save &As", 40006
  MENUITEM "(&Main)", 40007
END
        
MENUEDIT MENU DISCARDABLE        
BEGIN       
  MENUITEM "EDIT:", 0, INACTIVE
  MENUITEM "&Undo", 40008
  MENUITEM "Cu&t",  40009
  MENUITEM "&Copy", 40010
  MENUITEM "&Paste", 40011
  MENUITEM "De&lete", 40012
  MENUITEM "(&Main)", 40007
END