// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Define
#define  IDD_BUCKET                      1
#define  IDC_WRITE1NUM                 100
#define  IDC_WRITE1SCRL                101
#define  IDC_WRITE2NUM                 102
#define  IDI_BUCKET                    102
#define  IDC_WRITE2SCRL                103
#define  IDC_READ1NUM                  104
#define  IDC_READ1SCRL                 105
#define  IDC_READ1LIST                 106
#define  IDC_READ2NUM                  107
#define  IDC_READ2SCRL                 108
#define  IDC_READ2LIST                 109
#define  IDC_READ3NUM                  110
#define  IDC_READ3SCRL                 111
#define  IDC_READ3LIST                 112

// Icon
IDI_BUCKET  ICON  DISCARDABLE  "Bucket.Ico"

// Dialog
IDD_BUCKET DIALOG DISCARDABLE  12, 48, 216, 171
  STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "A Bucket of Balls"
  FONT 8, "Courier"
BEGIN
  GROUPBOX   "Bucket &Writers", IDC_STATIC, 4, 0, 100, 48
  RTEXT      "1:", IDC_STATIC, 8, 16, 12, 8, SS_NOPREFIX
  RTEXT      "##", IDC_WRITE1NUM, 20, 16, 9, 8, SS_NOPREFIX
  SCROLLBAR  IDC_WRITE1SCRL, 32, 16, 68, 10
  RTEXT      "2:", IDC_STATIC, 8, 32, 12, 8, SS_NOPREFIX
  RTEXT      "##", IDC_WRITE2NUM, 20, 32, 9, 8, SS_NOPREFIX
  SCROLLBAR  IDC_WRITE2SCRL, 32, 32, 68, 10
  GROUPBOX   "Bucket &Readers", IDC_STATIC, 4, 56, 208, 112
  RTEXT      "1:", IDC_STATIC, 20, 68, 12, 8, SS_NOPREFIX
  RTEXT      "##", IDC_READ1NUM, 36, 68, 9, 8, SS_NOPREFIX
  SCROLLBAR  IDC_READ1SCRL, 8, 80, 10, 84, SBS_VERT
  LISTBOX    IDC_READ1LIST, 20, 80, 52, 84, LBS_NOINTEGRALHEIGHT | WS_TABSTOP
  RTEXT      "2:", IDC_STATIC, 88, 68, 12, 8, SS_NOPREFIX
  RTEXT      "##", IDC_READ2NUM, 104, 68, 9, 8, SS_NOPREFIX
  SCROLLBAR  IDC_READ2SCRL, 76, 80, 10, 84, SBS_VERT
  LISTBOX    IDC_READ2LIST, 88, 80, 52, 84, LBS_NOINTEGRALHEIGHT | WS_TABSTOP
  RTEXT      "3:", IDC_STATIC, 156, 68, 12, 8, SS_NOPREFIX
  RTEXT      "##", IDC_READ3NUM, 172, 68, 9, 8, SS_NOPREFIX
  SCROLLBAR  IDC_READ3SCRL, 144, 80, 10, 84, SBS_VERT
  LISTBOX    IDC_READ3LIST, 156, 80, 52, 84, LBS_NOINTEGRALHEIGHT | WS_TABSTOP
END
