MENUFILE MENU DISCARDABLE
BEGIN
  MENUITEM "&New", 40010
  MENUITEM "&Open...", 40011
  MENUITEM "&Save", 40012
  MENUITEM "Save &As...", 40013
END
        
MENUEDIT MENU DISCARDABLE
BEGIN
  MENUITEM "&Undo", 40005
  MENUITEM SEPARATOR
  MENUITEM "Cu&t", 40006
  MENUITEM "&Copy", 40007
  MENUITEM "&Paste", 40008
  MENUITEM "De&lete", 40009
END
        
// Bitmap
BITMAPFONT BITMAP DISCARDABLE "Fontlabl.bmp"
BITMAPHELP BITMAP DISCARDABLE "Bighelp.bmp"
BITMAPEDIT BITMAP DISCARDABLE "Editlabl.bmp"     
BITMAPFILE BITMAP DISCARDABLE "Filelabl.bmp"