// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Define
#define  IDD_CRITSECS                    1
#define  IDC_PRIORITYCLASS               100
#define  IDC_DSPYTHRDPRIORITY            101
#define  IDC_CNTRTHRDPRIORITY            102
#define  IDI_CRITSECS                    102
#define  IDC_PAUSE                       103
#define  IDC_SYNCHRONIZE                 104
#define  IDC_SHOWCNTRTHRD                105
#define  IDC_DATABOX                     106

// Icon
IDI_CRITSECS  ICON  DISCARDABLE  "CritSecs.Ico"

// Dialog
IDD_CRITSECS DIALOG DISCARDABLE  29, 28, 197, 208
  STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Critical Section Test Application"
  FONT 8, "System"
BEGIN
  LTEXT     "&Process priority class:", IDC_STATIC, 4, 4, 74, 8
  COMBOBOX  IDC_PRIORITYCLASS, 88, 4, 64, 48, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP
  CONTROL   "&Display thread priority:", IDC_STATIC, "Static", SS_LEFTNOWORDWRAP | WS_GROUP | WS_TABSTOP, 4, 24, 76, 8
  COMBOBOX  IDC_DSPYTHRDPRIORITY, 88, 24, 100, 76, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP
  CONTROL   "&Counter thread priority:", IDC_STATIC, "Static", SS_LEFTNOWORDWRAP | WS_GROUP | WS_TABSTOP, 4, 40, 76, 8
  COMBOBOX  IDC_CNTRTHRDPRIORITY, 88, 40, 100, 76, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP
  CONTROL   "&Synchronize", IDC_SYNCHRONIZE, "Button", BS_AUTOCHECKBOX |WS_TABSTOP, 4, 60, 52, 10
  CONTROL   "S&how counter thread", IDC_SHOWCNTRTHRD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 4, 72, 77, 10
  CONTROL   "P&ause", IDC_PAUSE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 4, 84, 32, 10
  LISTBOX   IDC_DATABOX, 88, 60, 100, 144, WS_VSCROLL | WS_GROUP | WS_TABSTOP
END
