 // 定义
#define IDD_SYSINFO                1
#define IDI_SYSINFO                6
#define IDC_PROCARCH               100
#define IDC_PAGESIZE               101
#define IDC_MINAPPADDR             102
#define IDC_MAXAPPADDR             103
#define IDC_ACTIVEPROCMASK         104
#define IDC_NUMOFPROCS             105
#define IDC_PROCTYPE               106
#define IDC_ALLOCGRAN              107
#define IDC_PROCLEVEL              108
#define IDC_PROCREV                109
 
 // 语言
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

 // 对话框
IDD_SYSINFO DIALOG DISCARDABLE  18, 18, 186, 97
  STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "System Info"
  FONT 8, "MS Sans Serif"
BEGIN
  RTEXT  "Processor Architecture:", IDC_STATIC, 4, 4, 88, 8, SS_NOPREFIX
  RTEXT  "ID_PROCARCH", IDC_PROCARCH, 96, 4, 84, 8, SS_NOPREFIX
  RTEXT  "Processor level:", IDC_STATIC, 4, 14, 88, 8, SS_NOPREFIX
  RTEXT  "ID_PROCLEVEL", IDC_PROCLEVEL, 96, 14, 84, 8, SS_NOPREFIX
  RTEXT  "Processor revision:", IDC_STATIC, 4, 24, 88, 8, SS_NOPREFIX
  RTEXT  "ID_PROCREV", IDC_PROCREV, 96, 24, 84, 8, SS_NOPREFIX
  RTEXT  "Number of processors:", IDC_STATIC, 4, 34, 88, 8, SS_NOPREFIX
  RTEXT  "ID_NUMOFPROCS", IDC_NUMOFPROCS, 96, 34, 84, 8, SS_NOPREFIX
  RTEXT  "Active processor mask:", IDC_STATIC, 4, 44, 88, 8, SS_NOPREFIX
  RTEXT  "ID_ACTIVEPROCMASK", IDC_ACTIVEPROCMASK, 96, 44, 84, 8, SS_NOPREFIX
  RTEXT  "Allocation granularity:", IDC_STATIC, 4, 54, 88, 8, SS_NOPREFIX
  RTEXT  "ID_ALLOCGRAN", IDC_ALLOCGRAN, 96, 54, 84, 8, SS_NOPREFIX
  RTEXT  "Page size:", IDC_STATIC, 4, 64, 88, 8, SS_NOPREFIX
  RTEXT  "ID_PAGESIZE", IDC_PAGESIZE, 96, 64, 84, 8, SS_NOPREFIX
  RTEXT  "Minimum app. address:", IDC_STATIC, 4, 74, 88, 8, SS_NOPREFIX
  RTEXT  "ID_MINAPPADDR", IDC_MINAPPADDR, 96, 74, 84, 8, SS_NOPREFIX
  RTEXT  "Maximum app. address:", IDC_STATIC, 4, 84, 88, 8, SS_NOPREFIX
  RTEXT  "ID_MAXAPPADDR", IDC_MAXAPPADDR, 96, 84, 84, 8, SS_NOPREFIX
END

 // 图标
IDI_SYSINFO  ICON  DISCARDABLE  "SysInfo.Ico"
