 // 定义
#define IDD_VMMAP           1
#define IDC_LISTBOX         100
#define IDI_VMMAP           101
#define IDR_VMMAP           102
#define ID_REFRESH          40001
#define ID_EXPANDREGIONS    40002
#define ID_COPYTOCLIPBOARD  40003

 // 语言
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

 // 对话框
IDD_VMMAP DIALOG DISCARDABLE  10, 18, 250, 250
  STYLE WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
  CAPTION "Virtual Memory Map"
  MENU IDR_VMMAP
  FONT 8, "Courier"
BEGIN
  LISTBOX  IDC_LISTBOX, 0, 0, 248, 248, LBS_NOINTEGRALHEIGHT | NOT WS_BORDER |
    WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP
END

 // 图标
IDI_VMMAP ICON DISCARDABLE "VMMap.Ico"

 // 菜单
IDR_VMMAP MENU DISCARDABLE
BEGIN
  MENUITEM "&Refresh!",           ID_REFRESH
  MENUITEM "&Expand Regions!",    ID_EXPANDREGIONS
  MENUITEM "&Copy to Clipboard!", ID_COPYTOCLIPBOARD
END
