// Define
#define IDC_RECORD_BEG 1000
#define IDC_RECORD_END 1001
#define IDC_PLAY_BEG   1002
#define IDC_PLAY_PAUSE 1003
#define IDC_PLAY_END   1004
#define IDC_PLAY_REV   1005
#define IDC_PLAY_REP   1006
#define IDC_PLAY_SPEED 1007

// Dialog
RECORD DIALOG DISCARDABLE  100, 100, 152, 74
  STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Waveform Audio Recorder"
  FONT 8, "MS Sans Serif"
BEGIN
  PUSHBUTTON  "Record", IDC_RECORD_BEG, 28, 8, 40, 14
  PUSHBUTTON  "End", IDC_RECORD_END, 76, 8, 40, 14, WS_DISABLED
  PUSHBUTTON  "Play", IDC_PLAY_BEG, 8, 30, 40, 14, WS_DISABLED
  PUSHBUTTON  "Pause", IDC_PLAY_PAUSE, 56, 30, 40, 14, WS_DISABLED
  PUSHBUTTON  "End", IDC_PLAY_END, 104, 30, 40, 14, WS_DISABLED
  PUSHBUTTON  "Reverse", IDC_PLAY_REV, 8, 52, 40, 14, WS_DISABLED
  PUSHBUTTON  "Repeat", IDC_PLAY_REP, 56, 52, 40, 14, WS_DISABLED
  PUSHBUTTON  "Speedup", IDC_PLAY_SPEED, 104, 52, 40, 14, WS_DISABLED
END