 // ”Ô—‘
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

 // Define
#define IDD_PROCESSINFO        101
#define IDR_PROCESSINFO        102
#define IDI_PROCESSINFO        103
#define IDC_PROCESSMODULELIST  1000
#define IDC_RESULTS            1011
#define IDC_MODULEHELP         1014
#define ID_PROCESSES           40001
#define ID_MODULES             40002
#define ID_VMMAP               40006

 // Dialog
IDD_PROCESSINFO DIALOGEX 0, 0, 400, 317
  STYLE DS_3DLOOK | DS_NOFAILCREATE | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
  EXSTYLE WS_EX_NOPARENTNOTIFY | WS_EX_CLIENTEDGE
  CAPTION "Process Information"
  MENU IDR_PROCESSINFO
  FONT 8, "MS Sans Serif"
BEGIN
  COMBOBOX IDC_PROCESSMODULELIST, 4, 4, 392, 156, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
  LISTBOX  IDC_MODULEHELP, 0, 0, 48, 40, NOT LBS_NOTIFY | LBS_SORT | LBS_NOINTEGRALHEIGHT | NOT WS_VISIBLE | NOT WS_BORDER | WS_TABSTOP
  EDITTEXT IDC_RESULTS, 4, 24, 392, 284, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
END

 // Menu
IDR_PROCESSINFO MENU DISCARDABLE
BEGIN
  MENUITEM "&Processes!", ID_PROCESSES
  MENUITEM "&Modules!", ID_MODULES
  MENUITEM "&VMMap!", ID_VMMAP
END

 // Icon
IDI_PROCESSINFO ICON DISCARDABLE "ProcessInfo.ico"
