//Define
#define  IDC_STATUS  40001

// Dialog
UPDDEMO DIALOG DISCARDABLE  20, 20, 186, 95
  STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
  CAPTION "Internet Download"
  FONT 8, "MS Sans Serif"
BEGIN
  PUSHBUTTON  "Cancel", IDCANCEL, 69, 74, 50, 14
  CTEXT "", IDC_STATUS, 7, 29, 172, 21
END