// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Define
#define IDD_VMMAP                       1
#define IDC_LISTBOX                     100
#define IDI_VMMAP                       101

// Dialog
IDD_VMMAP DIALOG DISCARDABLE  10, 18, 250, 250
  STYLE WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
  CAPTION "Virtual Memory Map"
  FONT 8, "Courier"
BEGIN
  LISTBOX IDC_LISTBOX, 0, 0, 0, 0, NOT LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | NOT WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP
END

// Icon
IDI_VMMAP  ICON  DISCARDABLE  "VMMap.Ico"
