//define
#define  IDC_MAIN_EDIT          1000
#define  IDC_NOTIFY_MESSAGE     1005
#define  IDC_NOTIFY_ID          1006
#define  IDC_NOTIFY_SUCCESSFUL  1007
#define  IDC_NOTIFY_SUPERSEDED  1008
#define  IDC_NOTIFY_ABORTED     1009
#define  IDC_NOTIFY_FAILURE     1010
#define  IDC_SIGNAL_MESSAGE     1011
#define  IDC_SIGNAL_ID          1012
#define  IDC_SIGNAL_PARAM       1013
#define  IDC_RETURN_STRING      1014
#define  IDC_ERROR_STRING       1015
#define  IDC_DEVICES            1016
#define  IDC_STATIC             -1

// Dialog
TESTMCI DIALOG DISCARDABLE  0, 0, 270, 276
  STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "MCI Tester"
  FONT 8, "MS Sans Serif"
BEGIN
  EDITTEXT IDC_MAIN_EDIT, 8, 8, 254, 100, ES_MULTILINE | ES_AUTOHSCROLL | WS_VSCROLL
  LTEXT "Return String:", IDC_STATIC, 8, 114, 60, 8
  EDITTEXT IDC_RETURN_STRING, 8, 126, 120, 50, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_GROUP | NOT WS_TABSTOP
  LTEXT "Error String:", IDC_STATIC, 142, 114, 60, 8
  EDITTEXT IDC_ERROR_STRING, 142, 126, 120, 50, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_TABSTOP
  GROUPBOX "MM_MCINOTIFY Message", IDC_STATIC, 9, 186, 254, 58
  LTEXT "", IDC_NOTIFY_ID, 26, 198, 100, 8
  LTEXT "MCI_NOTIFY_SUCCESSFUL", IDC_NOTIFY_SUCCESSFUL, 26, 212, 100, 8, WS_DISABLED
  LTEXT "MCI_NOTIFY_SUPERSEDED", IDC_NOTIFY_SUPERSEDED, 26, 226, 100, 8, WS_DISABLED
  LTEXT "MCI_NOTIFY_ABORTED", IDC_NOTIFY_ABORTED, 144, 212, 100, 8, WS_DISABLED
  LTEXT "MCI_NOTIFY_FAILURE", IDC_NOTIFY_FAILURE, 144, 226, 100, 8, WS_DISABLED
  DEFPUSHBUTTON "OK", IDOK, 57, 255, 50, 14
  PUSHBUTTON "Close", IDCANCEL, 162, 255, 50, 14
END
