// Define
#define IDM_FILE_NEWHELLO   40001
#define IDM_FILE_NEWRECT    40002
#define IDM_APP_EXIT        40003
#define IDM_FILE_CLOSE      40004
#define IDM_COLOR_BLACK     40005
#define IDM_COLOR_RED       40006
#define IDM_COLOR_GREEN     40007
#define IDM_COLOR_BLUE      40008
#define IDM_COLOR_WHITE     40009
#define IDM_WINDOW_CASCADE  40010
#define IDM_WINDOW_TILE     40011
#define IDM_WINDOW_ARRANGE  40012
#define IDM_WINDOW_CLOSEALL 40013


// Menu
MDIMENUINIT MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New &Hello", IDM_FILE_NEWHELLO
    MENUITEM "New &Rectangle", IDM_FILE_NEWRECT
    MENUITEM  SEPARATOR
    MENUITEM "E&xit", IDM_APP_EXIT
  END
END

MDIMENUHELLO MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New &Hello", IDM_FILE_NEWHELLO
    MENUITEM "New &Rectangle", IDM_FILE_NEWRECT
    MENUITEM "&Close", IDM_FILE_CLOSE
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_APP_EXIT
  END

  POPUP "&Color"
  BEGIN
    MENUITEM "&Black", IDM_COLOR_BLACK
    MENUITEM "&Red", IDM_COLOR_RED
    MENUITEM "&Green", IDM_COLOR_GREEN
    MENUITEM "B&lue", IDM_COLOR_BLUE
    MENUITEM "&White", IDM_COLOR_WHITE
  END

  POPUP "&Window"
  BEGIN
    MENUITEM "&Cascade\tShift+F5", IDM_WINDOW_CASCADE
    MENUITEM "&Tile\tShift+F4", IDM_WINDOW_TILE
    MENUITEM "Arrange &Icons", IDM_WINDOW_ARRANGE
    MENUITEM "Close &All", IDM_WINDOW_CLOSEALL
  END
END

MDIMENURECT MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New &Hello",  IDM_FILE_NEWHELLO
    MENUITEM "New &Rectangle", IDM_FILE_NEWRECT
    MENUITEM "&Close", IDM_FILE_CLOSE
    MENUITEM  SEPARATOR
    MENUITEM "E&xit", IDM_APP_EXIT
  END

  POPUP "&Window"
  BEGIN
    MENUITEM "&Cascade\tShift+F5", IDM_WINDOW_CASCADE
    MENUITEM "&Tile\tShift+F4", IDM_WINDOW_TILE
    MENUITEM "Arrange &Icons", IDM_WINDOW_ARRANGE
    MENUITEM "Close &All", IDM_WINDOW_CLOSEALL
  END
END

        
// Accelerator
MDIDEMO ACCELERATORS DISCARDABLE
BEGIN
  VK_F4, IDM_WINDOW_TILE, VIRTKEY, SHIFT, NOINVERT
  VK_F5, IDM_WINDOW_CASCADE, VIRTKEY, SHIFT, NOINVERT
END