// Define
#define    IDC_LF_HEIGHT        1000
#define    IDC_LF_WIDTH         1001
#define    IDC_LF_ESCAPE        1002
#define    IDC_LF_ORIENT        1003
#define    IDC_LF_WEIGHT        1004
#define    IDC_MM_TEXT          1005
#define    IDC_MM_LOMETRIC      1006
#define    IDC_MM_HIMETRIC      1007
#define    IDC_MM_LOENGLISH     1008
#define    IDC_MM_HIENGLISH     1009
#define    IDC_MM_TWIPS         1010
#define    IDC_MM_LOGTWIPS      1011
#define    IDC_LF_ITALIC        1012
#define    IDC_LF_UNDER         1013
#define    IDC_LF_STRIKE        1014
#define    IDC_MATCH_ASPECT     1015
#define    IDC_ADV_GRAPHICS     1016
#define    IDC_LF_CHARSET       1017
#define    IDC_CHARSET_HELP     1018
#define    IDC_DEFAULT_QUALITY  1019
#define    IDC_DRAFT_QUALITY    1020
#define    IDC_PROOF_QUALITY    1021
#define    IDC_LF_FACENAME      1022
#define    IDC_OUT_DEFAULT      1023
#define    IDC_OUT_STRING       1024
#define    IDC_OUT_CHARACTER    1025
#define    IDC_OUT_STROKE       1026
#define    IDC_OUT_TT           1027
#define    IDC_OUT_DEVICE       1028
#define    IDC_OUT_RASTER       1029
#define    IDC_OUT_TT_ONLY      1030
#define    IDC_OUT_OUTLINE      1031
#define    IDC_DEFAULT_PITCH    1032
#define    IDC_FIXED_PITCH      1033
#define    IDC_VARIABLE_PITCH   1034
#define    IDC_FF_DONTCARE      1035
#define    IDC_FF_ROMAN         1036
#define    IDC_FF_SWISS         1037
#define    IDC_FF_MODERN        1038
#define    IDC_FF_SCRIPT        1039
#define    IDC_FF_DECORATIVE    1040
#define    IDC_TM_HEIGHT        1041
#define    IDC_TM_ASCENT        1042
#define    IDC_TM_DESCENT       1043
#define    IDC_TM_INTLEAD       1044
#define    IDC_TM_EXTLEAD       1045
#define    IDC_TM_AVECHAR       1046
#define    IDC_TM_MAXCHAR       1047
#define    IDC_TM_WEIGHT        1048
#define    IDC_TM_OVERHANG      1049
#define    IDC_TM_DIGASPX       1050
#define    IDC_TM_DIGASPY       1051
#define    IDC_TM_FIRSTCHAR     1052
#define    IDC_TM_LASTCHAR      1053
#define    IDC_TM_DEFCHAR       1054
#define    IDC_TM_BREAKCHAR     1055
#define    IDC_TM_ITALIC        1056
#define    IDC_TM_UNDER         1057
#define    IDC_TM_STRUCK        1058
#define    IDC_TM_VARIABLE      1059
#define    IDC_TM_VECTOR        1060
#define    IDC_TM_TRUETYPE      1061
#define    IDC_TM_DEVICE        1062
#define    IDC_TM_FAMILY        1063
#define    IDC_TM_CHARSET       1064
#define    IDC_TM_FACENAME      1065
#define    IDM_DEVICE_SCREEN    40001
#define    IDM_DEVICE_PRINTER   40002

// Dialog
PICKFONT DIALOG DISCARDABLE  0, 0, 348, 308
  STYLE WS_CHILD | WS_VISIBLE | WS_BORDER
  FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "&Height:", IDC_STATIC, 8, 10, 44, 8
  EDITTEXT IDC_LF_HEIGHT, 64, 8, 24, 12, ES_AUTOHSCROLL
  LTEXT "&Width", IDC_STATIC, 8, 26, 44, 8
  EDITTEXT IDC_LF_WIDTH, 64, 24, 24, 12, ES_AUTOHSCROLL
  LTEXT "Escapement:", IDC_STATIC, 8, 42, 44, 8
  EDITTEXT IDC_LF_ESCAPE, 64, 40, 24, 12, ES_AUTOHSCROLL
  LTEXT "Orientation:", IDC_STATIC, 8, 58, 44, 8
  EDITTEXT IDC_LF_ORIENT, 64, 56, 24, 12, ES_AUTOHSCROLL
  LTEXT "Weight:", IDC_STATIC, 8, 74, 44, 8
  EDITTEXT IDC_LF_WEIGHT, 64, 74, 24, 12, ES_AUTOHSCROLL
  GROUPBOX "Mapping Mode", IDC_STATIC, 97, 3, 96, 90, WS_GROUP
  CONTROL "Text", IDC_MM_TEXT, "Button", BS_AUTORADIOBUTTON, 104, 13, 56, 8
  CONTROL "Low Metric", IDC_MM_LOMETRIC, "Button", BS_AUTORADIOBUTTON, 104, 24, 56, 8
  CONTROL "High Metric", IDC_MM_HIMETRIC, "Button", BS_AUTORADIOBUTTON, 104, 35, 56, 8
  CONTROL "Low English", IDC_MM_LOENGLISH, "Button", BS_AUTORADIOBUTTON, 104, 46, 56, 8
  CONTROL "High English", IDC_MM_HIENGLISH, "Button", BS_AUTORADIOBUTTON, 104, 57, 56, 8
  CONTROL "Twips", IDC_MM_TWIPS, "Button", BS_AUTORADIOBUTTON, 104, 68, 56, 8
  CONTROL "Logical Twips", IDC_MM_LOGTWIPS, "Button", BS_AUTORADIOBUTTON, 104, 79, 64, 8
  CONTROL "Italic", IDC_LF_ITALIC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 90, 48, 12
  CONTROL "Underline", IDC_LF_UNDER, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 104, 48, 12
  CONTROL "Strike Out", IDC_LF_STRIKE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 118, 48, 12
  CONTROL "Match Aspect", IDC_MATCH_ASPECT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 60, 104, 62, 8
  CONTROL "Adv Grfx Mode", IDC_ADV_GRAPHICS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 60, 118, 62, 8
  LTEXT "Character Set:", IDC_STATIC, 8, 137, 46, 8
  EDITTEXT IDC_LF_CHARSET, 58, 135, 24, 12, ES_AUTOHSCROLL
  PUSHBUTTON "?", IDC_CHARSET_HELP, 90, 135, 14, 14
  GROUPBOX "Quality", IDC_STATIC, 132, 98, 62, 48, WS_GROUP
  CONTROL "Default", IDC_DEFAULT_QUALITY, "Button", BS_AUTORADIOBUTTON, 136, 110, 40, 8
  CONTROL "Draft", IDC_DRAFT_QUALITY, "Button", BS_AUTORADIOBUTTON, 136, 122, 40, 8
  CONTROL "Proof", IDC_PROOF_QUALITY, "Button", BS_AUTORADIOBUTTON, 136, 134, 40, 8
  LTEXT "Face Name:", IDC_STATIC, 8, 154, 44, 8
  EDITTEXT IDC_LF_FACENAME, 58, 152, 136, 12, ES_AUTOHSCROLL
  GROUPBOX "Output Precision", IDC_STATIC, 8, 166, 118, 133, WS_GROUP
  CONTROL "OUT_DEFAULT_PRECIS", IDC_OUT_DEFAULT, "Button", BS_AUTORADIOBUTTON, 12, 178, 112, 8
  CONTROL "OUT_STRING_PRECIS", IDC_OUT_STRING, "Button", BS_AUTORADIOBUTTON, 12, 191, 112, 8
  CONTROL "OUT_CHARACTER_PRECIS", IDC_OUT_CHARACTER, "Button", BS_AUTORADIOBUTTON, 12, 204, 112, 8
  CONTROL "OUT_STROKE_PRECIS", IDC_OUT_STROKE, "Button", BS_AUTORADIOBUTTON, 12, 217, 112, 8
  CONTROL "OUT_TT_PRECIS", IDC_OUT_TT, "Button", BS_AUTORADIOBUTTON, 12, 230, 112, 8
  CONTROL "OUT_DEVICE_PRECIS", IDC_OUT_DEVICE, "Button", BS_AUTORADIOBUTTON, 12, 243, 112, 8
  CONTROL "OUT_RASTER_PRECIS", IDC_OUT_RASTER, "Button", BS_AUTORADIOBUTTON, 12, 256, 112, 8
  CONTROL "OUT_TT_ONLY_PRECIS", IDC_OUT_TT_ONLY, "Button", BS_AUTORADIOBUTTON, 12, 269, 112, 8
  CONTROL "OUT_OUTLINE_PRECIS", IDC_OUT_OUTLINE, "Button", BS_AUTORADIOBUTTON, 12, 282, 112, 8
  GROUPBOX "Pitch", IDC_STATIC, 132, 166, 62, 50, WS_GROUP
  CONTROL "Default", IDC_DEFAULT_PITCH, "Button", BS_AUTORADIOBUTTON, 137, 176, 52, 8
  CONTROL "Fixed", IDC_FIXED_PITCH, "Button", BS_AUTORADIOBUTTON, 137, 189, 52, 8
  CONTROL "Variable", IDC_VARIABLE_PITCH, "Button", BS_AUTORADIOBUTTON, 137, 203, 52, 8
  GROUPBOX "Family",IDC_STATIC,132,218,62,82,WS_GROUP
  CONTROL "Don't Care", IDC_FF_DONTCARE, "Button", BS_AUTORADIOBUTTON, 137, 229, 52, 8
  CONTROL "Roman", IDC_FF_ROMAN, "Button", BS_AUTORADIOBUTTON, 137, 241, 52, 8
  CONTROL "Swiss", IDC_FF_SWISS, "Button", BS_AUTORADIOBUTTON, 137, 253, 52, 8
  CONTROL "Modern", IDC_FF_MODERN, "Button", BS_AUTORADIOBUTTON, 137, 265, 52, 8
  CONTROL "Script", IDC_FF_SCRIPT, "Button", BS_AUTORADIOBUTTON, 137, 277, 52, 8
  CONTROL "Decorative", IDC_FF_DECORATIVE, "Button", BS_AUTORADIOBUTTON, 137, 289, 52, 8
  DEFPUSHBUTTON "OK", IDOK, 247, 286, 50, 14
  GROUPBOX "Text Metrics", IDC_STATIC, 201, 2, 140, 272, WS_GROUP
  LTEXT "Height:", IDC_STATIC, 207, 12, 64, 8
  LTEXT "0", IDC_TM_HEIGHT, 281, 12, 44, 8
  LTEXT "Ascent:", IDC_STATIC, 207, 22, 64, 8
  LTEXT "0", IDC_TM_ASCENT, 281, 22, 44, 8
  LTEXT "Descent:", IDC_STATIC, 207, 32, 64, 8
  LTEXT "0", IDC_TM_DESCENT, 281, 32, 44, 8
  LTEXT "Internal Leading:", IDC_STATIC, 207, 42, 64, 8
  LTEXT "0", IDC_TM_INTLEAD, 281, 42, 44, 8
  LTEXT "External Leading:", IDC_STATIC, 207, 52, 64, 8
  LTEXT "0", IDC_TM_EXTLEAD, 281, 52, 44, 8
  LTEXT "Ave Char Width:", IDC_STATIC, 207, 62, 64, 8
  LTEXT "0", IDC_TM_AVECHAR, 281, 62, 44, 8
  LTEXT "Max Char Width:", IDC_STATIC, 207, 72, 64, 8
  LTEXT "0", IDC_TM_MAXCHAR, 281, 72, 44, 8
  LTEXT "Weight:", IDC_STATIC, 207, 82, 64, 8
  LTEXT "0", IDC_TM_WEIGHT, 281, 82, 44, 8
  LTEXT "Overhang:", IDC_STATIC, 207, 92, 64, 8
  LTEXT "0", IDC_TM_OVERHANG, 281, 92, 44, 8
  LTEXT "Digitized Aspect X:", IDC_STATIC, 207, 102, 64, 8
  LTEXT "0", IDC_TM_DIGASPX, 281, 102, 44, 8
  LTEXT "Digitized Aspect Y:", IDC_STATIC, 207, 112, 64, 8
  LTEXT "0", IDC_TM_DIGASPY, 281, 112, 44, 8
  LTEXT "First Char:", IDC_STATIC, 207, 122, 64, 8
  LTEXT "0", IDC_TM_FIRSTCHAR, 281, 122, 44, 8
  LTEXT "Last Char:", IDC_STATIC, 207, 132, 64, 8
  LTEXT "0", IDC_TM_LASTCHAR, 281, 132, 44, 8
  LTEXT "Default Char:", IDC_STATIC, 207, 142, 64, 8
  LTEXT "0", IDC_TM_DEFCHAR, 281, 142, 44, 8
  LTEXT "Break Char:", IDC_STATIC, 207, 152, 64, 8
  LTEXT "0", IDC_TM_BREAKCHAR, 281, 152, 44, 8
  LTEXT "Italic?", IDC_STATIC, 207, 162, 64, 8
  LTEXT "0", IDC_TM_ITALIC, 281, 162, 44, 8
  LTEXT "Underlined?", IDC_STATIC, 207, 172, 64, 8
  LTEXT "0", IDC_TM_UNDER, 281, 172, 44, 8
  LTEXT "Struck Out?", IDC_STATIC, 207, 182, 64, 8
  LTEXT "0", IDC_TM_STRUCK, 281, 182, 44, 8
  LTEXT "Variable Pitch?", IDC_STATIC, 207, 192, 64, 8
  LTEXT "0", IDC_TM_VARIABLE, 281, 192, 44, 8
  LTEXT "Vector Font?", IDC_STATIC, 207, 202, 64, 8
  LTEXT "0", IDC_TM_VECTOR, 281, 202, 44, 8
  LTEXT "TrueType Font?", IDC_STATIC, 207, 212, 64, 8
  LTEXT "0", IDC_TM_TRUETYPE, 281, 212, 44, 8
  LTEXT "Device Font?", IDC_STATIC, 207, 222, 64, 8
  LTEXT "0", IDC_TM_DEVICE, 281, 222, 44, 8
  LTEXT "Family:", IDC_STATIC, 207, 232, 64, 8
  LTEXT "0", IDC_TM_FAMILY, 281, 232, 44, 8
  LTEXT "Character Set:", IDC_STATIC, 207, 242, 64, 8
  LTEXT "0", IDC_TM_CHARSET, 281, 242, 44, 8
  LTEXT "0", IDC_TM_FACENAME, 207, 262, 128, 8
END

 // Menu
PICKFONT MENU DISCARDABLE
BEGIN
  POPUP "&Device"
  BEGIN
    MENUITEM "&Screen", IDM_DEVICE_SCREEN, CHECKED
    MENUITEM "&Printer", IDM_DEVICE_PRINTER
  END
END
