// Bitmap
1 BITMAP DISCARDABLE "Bitmap1.bmp"
2 BITMAP DISCARDABLE "Bitmap2.bmp"
3 BITMAP DISCARDABLE "Bitmap3.bmp"
4 BITMAP DISCARDABLE "Bitmap4.bmp"
5 BITMAP DISCARDABLE "Bitmap5.bmp"
6 BITMAP DISCARDABLE "Bitmap6.bmp"
7 BITMAP DISCARDABLE "Bitmap7.bmp"
8 BITMAP DISCARDABLE "Bitmap8.bmp"
9 BITMAP DISCARDABLE "Bitmap9.bmp"