// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Define
#define  IDD_DIPS      101

// Dialog
IDD_DIPS DIALOG DISCARDABLE  0, 0, 132, 13
  STYLE WS_CAPTION
  CAPTION "Richter DIPS"
  FONT 8, "MS Sans Serif"
BEGIN
END