// Accelerator
SEQDISP ACCELERATORS DISCARDABLE
BEGIN
  "O", 40001, VIRTKEY, CONTROL, NOINVERT
END
        
// Menu
SEQDISP MENU DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open...\tCtrl+O",  40001
  END
END
