// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Define
#define IDD_DIRWALK                     1
#define IDC_TREE                        100
#define IDI_DIRWALK                     102

// Icon
IDI_DIRWALK  ICON  DISCARDABLE  "DirWalk.Ico"

// Dialog
IDD_DIRWALK DIALOG DISCARDABLE  10, 18, 250, 250
  STYLE WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
  CAPTION "Directory Walker"
  FONT 8, "System"
BEGIN
  LISTBOX  IDC_TREE, 0, 0, 0, 0,
    NOT LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | NOT WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP
END
