// Define
#define IDC_STATIC  -1
#define IDC_SCROLL  1000
#define IDC_TEXT    1001
#define IDC_ONOFF   1002

// Dialog
SINEWAVE  DIALOG DISCARDABLE  100, 100, 200, 50
  STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Sine Wave Generator"
  FONT 8, "MS Sans Serif"
BEGIN
  SCROLLBAR  IDC_SCROLL, 8, 8, 150, 12
  RTEXT "440", IDC_TEXT, 160, 10, 20, 8
  LTEXT "Hz", IDC_STATIC, 182, 10, 12, 8
  PUSHBUTTON "Turn On", IDC_ONOFF, 80, 28, 40, 14
END