 // Define
#define IDD_AWE             101
#define IDI_AWE             104
#define IDC_WINDOW0TEXT     1006
#define IDC_WINDOW0STORAGE  1007
#define IDC_WINDOW1STORAGE  1008
#define IDC_WINDOW1TEXT     1009
#define DS_SETFOREGROUND    0x200

 // Language
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

 // Dialog
IDD_AWE DIALOG DISCARDABLE  0, 0, 288, 45
  STYLE DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Address Windowing Extensions"
  FONT 8, "MS Sans Serif"
BEGIN
  LTEXT     "Window 0:", IDC_STATIC, 4, 6, 35, 8
  COMBOBOX  IDC_WINDOW0STORAGE, 44, 4, 80, 58, CBS_DROPDOWNLIST | WS_TABSTOP
  EDITTEXT  IDC_WINDOW0TEXT, 132, 4, 152, 14, ES_AUTOHSCROLL
  LTEXT     "Window 1:", IDC_STATIC, 4, 28, 35, 8
  COMBOBOX  IDC_WINDOW1STORAGE, 44, 25, 80, 58, CBS_DROPDOWNLIST | WS_TABSTOP
  EDITTEXT  IDC_WINDOW1TEXT, 132, 25, 152, 14, ES_AUTOHSCROLL
END

 // Icon
IDI_AWE ICON DISCARDABLE "AWE.ico"
