// Define
#define IDD_LASTMSGBOXINFO              101
#define IDI_LASTMSGBOXINFO              102
#define IDC_INFO                        1001

// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Dialog
IDD_LASTMSGBOXINFO DIALOG DISCARDABLE  0, 0, 379, 55
  STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
  CAPTION "Last MessageBox Info"
  FONT 8, "MS Sans Serif"
BEGIN
  EDITTEXT  IDC_INFO, 0, 0, 376, 52, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
END

// Icon
IDI_LASTMSGBOXINFO  ICON  DISCARDABLE  "LastMsgBoxInfo.ico"
