// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Define
#define  IDD_SPRMRKT                   1
#define  IDC_MAXOCCUPANCY            100
#define  IDC_TIMEOPEN                101
#define  IDI_SPRMRKT                 101
#define  IDC_NUMCOUNTERS             102
#define  IDC_SHOPPERCREATIONDELAY    103
#define  IDC_DELAYTOGETIN            104
#define  IDC_TIMETOSHOP              105
#define  IDC_WAITDELICNTR            106
#define  IDC_TIMEATDELICNTR          107
#define  IDC_TIMEATCHECKOUT          108
#define  IDC_SHOPPEREVENTS           109

// Dialog
IDD_SPRMRKT DIALOG DISCARDABLE  4, 58, 360, 206
  STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Supermarket Simulation"
  FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX  "Super&market parameters", IDC_STATIC, 4, 0, 176, 64, WS_GROUP
  RTEXT     "Maximum occupancy:", IDC_STATIC, 8, 12, 72, 8, NOT WS_GROUP
  RTEXT     "MO", IDC_STATIC, 84, 12, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_MAXOCCUPANCY, 104, 12, 72, 10, WS_TABSTOP
  RTEXT     "Time open:", IDC_STATIC, 8, 24, 72, 8, NOT WS_GROUP
  RTEXT     "TO",IDC_STATIC, 84, 24, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_TIMEOPEN, 104, 24, 72, 10, WS_TABSTOP
  RTEXT     "Checkout counters:", IDC_STATIC, 8, 38, 72, 8, NOT WS_GROUP
  RTEXT     "CC", IDC_STATIC, 84, 38, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_NUMCOUNTERS, 104, 38, 72, 10, WS_TABSTOP
  RTEXT     "Shopper create delay:", IDC_STATIC, 8, 52, 72, 8, NOT WS_GROUP
  RTEXT     "SC",IDC_STATIC, 84, 52, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_SHOPPERCREATIONDELAY, 104, 52, 72, 10, WS_TABSTOP
  GROUPBOX  "&Shopper parameters", IDC_STATIC, 184, 0, 172, 80, WS_GROUP
  RTEXT     "Wait to get in market:", IDC_STATIC, 188, 12, 72, 8, NOT WS_GROUP
  RTEXT     "WTGI", IDC_STATIC, 260, 12, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_DELAYTOGETIN, 280, 10, 72, 10, WS_TABSTOP
  RTEXT     "Time to shop:", IDC_STATIC, 188, 24, 72, 8, NOT WS_GROUP
  RTEXT     "TTS", IDC_STATIC, 260, 24, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_TIMETOSHOP, 280, 24, 72, 10, WS_TABSTOP
  RTEXT     "Wait for deli counter:", IDC_STATIC, 188, 38, 72, 8, NOT WS_GROUP
  RTEXT     "WFDC", IDC_STATIC, 260, 38, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_WAITDELICNTR, 280, 38, 72, 10, WS_TABSTOP
  RTEXT     "Time at deli counter:", IDC_STATIC, 188, 52, 72, 8, NOT WS_GROUP
  RTEXT     "TADC", IDC_STATIC, 260, 52, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_TIMEATDELICNTR, 280, 52, 72, 10, WS_TABSTOP
  RTEXT     "Time at checkout:", IDC_STATIC, 188, 66, 72, 8, NOT WS_GROUP
  RTEXT     "TAC", IDC_STATIC, 260, 66, 16, 8, SS_NOPREFIX | NOT WS_GROUP
  SCROLLBAR IDC_TIMEATCHECKOUT, 280, 66, 72, 10, WS_TABSTOP
  PUSHBUTTON "&Open for business", IDOK, 80, 68, 100, 12, WS_GROUP
  LTEXT     "Shopper &events:", IDC_STATIC, 4, 82, 56, 8
  LISTBOX   IDC_SHOPPEREVENTS, 4, 94, 352, 108, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

// Icon
IDI_SPRMRKT  ICON  DISCARDABLE  "SprMrkt.Ico"
