// Language
LANGUAGE  LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

// Define
#define  IDD_DOCSTATS         1
#define  IDC_FILESELECT     101
#define  IDI_DOCSTATS       102
#define  IDC_FILENAME      1000
#define  IDC_DODOCSTATS    1001
#define  IDC_NUMLETTERS    1002
#define  IDC_NUMWORDS      1003
#define  IDC_NUMLINES      1004

// Icon
IDI_DOCSTATS  ICON  DISCARDABLE  "DocStats.Ico"

// Dialog
IDD_DOCSTATS DIALOG DISCARDABLE  15, 24, 200, 82
  STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Document Statistics"
  FONT 8, "System"
BEGIN
  LTEXT  "&Pathname:", IDC_STATIC, 4, 4, 35, 8
  EDITTEXT  IDC_FILENAME, 44, 4, 152, 12, ES_AUTOHSCROLL
  PUSHBUTTON  "&Browse...", IDC_FILESELECT, 4, 20, 36, 12, WS_GROUP
  DEFPUSHBUTTON  "&Calculate document statistics", IDC_DODOCSTATS, 4, 44, 80, 28, BS_MULTILINE
  GROUPBOX  "Document statistics", IDC_STATIC, 88, 32, 108, 48
  LTEXT  "Number of letters:", IDC_STATIC, 92, 42, 58, 8
  RTEXT  "0", IDC_NUMLETTERS, 160, 42, 26, 8
  LTEXT  "Number of words:", IDC_STATIC, 92, 54, 57, 8
  RTEXT  "0", IDC_NUMWORDS, 160, 54, 26, 8
  LTEXT  "Number of lines:", IDC_STATIC, 92, 66, 55, 8
  RTEXT  "0", IDC_NUMLINES, 160, 66, 26, 8
END
