 // ”Ô—‘
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

 // Define
#define IDD_ERRORSHOW     101
#define IDI_ERRORSHOW     102
#define IDC_ERRORCODE     1000
#define IDC_ERRORTEXT     1001
#define IDC_ALWAYSONTOP   1002
#define DS_SETFOREGROUND  0x200;

 // Dialog
IDD_ERRORSHOW DIALOGEX 0, 0, 182, 42
  STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND
  CAPTION "Error Show"
  FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "Error:", IDC_STATIC, 4, 4, 19, 8
  EDITTEXT IDC_ERRORCODE, 24, 2, 24, 14, ES_AUTOHSCROLL | ES_NUMBER
  DEFPUSHBUTTON "Look up", IDOK, 56, 2, 36, 14
  CONTROL "&On top", IDC_ALWAYSONTOP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 104, 4, 38, 10
  EDITTEXT IDC_ERRORTEXT, 4, 20, 176, 20, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL, WS_EX_CLIENTEDGE
END

 // Icon
IDI_ERRORSHOW ICON DISCARDABLE "ErrorShow.ico"
