// Menu
BLOWUP MENU DISCARDABLE
BEGIN
  POPUP "&Edit"
  BEGIN
    MENUITEM "Cu&t\tCtrl+X", 40001
    MENUITEM "&Copy\tCtrl+C", 40002
    MENUITEM "&Paste\tCtrl+V", 40003
    MENUITEM "De&lete\tDelete", 40004
  END
END
        
// Accelerator       
BLOWUP ACCELERATORS DISCARDABLE
BEGIN
  "C", 40002, VIRTKEY, CONTROL, NOINVERT
  "V", 40003, VIRTKEY, CONTROL, NOINVERT
  VK_DELETE, 40004, VIRTKEY, NOINVERT        
  "X", 40001, VIRTKEY, CONTROL, NOINVERT
END
