ALARM_COMM Bitmap RES\ALARM_COMM.bmp
ALARM_IN Bitmap RES\ALARM_IN.bmp
ALARM_ALARMING Bitmap RES\ALARM_ALARMING.bmp

1_DOWN Bitmap RES\1_DOWN.bmp
1_UP Bitmap RES\1_UP.bmp
2_DOWN Bitmap RES\2_DOWN.bmp
2_UP Bitmap RES\2_UP.bmp
3_DOWN Bitmap RES\3_DOWN.bmp
3_UP Bitmap RES\3_UP.bmp
4_DOWN Bitmap RES\4_DOWN.bmp
4_UP Bitmap RES\4_UP.bmp
5_DOWN Bitmap RES\5_DOWN.bmp
5_UP Bitmap RES\5_UP.bmp
6_DOWN Bitmap RES\6_DOWN.bmp
6_UP Bitmap RES\6_UP.bmp
7_DOWN Bitmap RES\7_DOWN.bmp
7_UP Bitmap RES\7_UP.bmp
8_DOWN Bitmap RES\8_DOWN.bmp
8_UP Bitmap RES\8_UP.bmp
9_DOWN Bitmap RES\9_DOWN.bmp
9_UP Bitmap RES\9_UP.bmp
10_DOWN Bitmap RES\10_DOWN.bmp
10_UP Bitmap RES\10_UP.bmp
11_DOWN Bitmap RES\11_DOWN.bmp
11_UP Bitmap RES\11_UP.bmp
12_DOWN Bitmap RES\12_DOWN.bmp
12_UP Bitmap RES\12_UP.bmp
13_DOWN Bitmap RES\13_DOWN.bmp
13_UP Bitmap RES\13_UP.bmp
14_DOWN Bitmap RES\14_DOWN.bmp
14_UP Bitmap RES\14_UP.bmp
15_DOWN Bitmap RES\15_DOWN.bmp
15_UP Bitmap RES\15_UP.bmp
16_DOWN Bitmap RES\16_DOWN.bmp
16_UP Bitmap RES\16_UP.bmp

B_1_UP Bitmap RES\B_1_UP.bmp
B_1_DOWN Bitmap RES\B_1_DOWN.bmp
B_2_UP Bitmap RES\B_2_UP.bmp
B_2_DOWN Bitmap RES\B_2_DOWN.bmp
B_3_UP Bitmap RES\B_3_UP.bmp
B_3_DOWN Bitmap RES\B_3_DOWN.bmp
B_4_UP Bitmap RES\B_4_UP.bmp
B_4_DOWN Bitmap RES\B_4_DOWN.bmp
B_5_UP Bitmap RES\B_5_UP.bmp
B_5_DOWN Bitmap RES\B_5_DOWN.bmp
B_6_UP Bitmap RES\B_6_UP.bmp
B_6_DOWN Bitmap RES\B_6_DOWN.bmp

YT_9_0 Bitmap Res\YT_9_0.bmp
YT_9_1 Bitmap Res\YT_9_1.bmp
YT_1_UP Bitmap Res\YT_1_UP.bmp
YT_1_DOWN Bitmap Res\YT_1_DOWN.bmp
YT_2_UP Bitmap Res\YT_2_UP.bmp
YT_2_DOWN Bitmap Res\YT_2_DOWN.bmp
YT_3_UP Bitmap Res\YT_3_UP.bmp
YT_3_DOWN Bitmap Res\YT_3_DOWN.bmp
YT_4_UP Bitmap Res\YT_4_UP.bmp
YT_4_DOWN Bitmap Res\YT_4_DOWN.bmp
YT_5_UP Bitmap Res\YT_5_UP.bmp
YT_5_DOWN Bitmap Res\YT_5_DOWN.bmp
YT_6_UP Bitmap Res\YT_6_UP.bmp
YT_6_DOWN Bitmap Res\YT_6_DOWN.bmp
YT_7_UP Bitmap Res\YT_7_UP.bmp
YT_7_DOWN Bitmap Res\YT_7_DOWN.bmp
YT_8_UP Bitmap Res\YT_8_UP.bmp
YT_8_DOWN Bitmap Res\YT_8_DOWN.bmp